* {
    font-family: sans-serif;
    border: black dotted 1px;
    text-align: center;
    color: #182134;
}
body{
    background: #C2AF97;
}

h1{
    text-align: center;
    color: #182134;
}

h2{
    text-align: center;
    color: #182134;
}

table{
    border-collapse: collapse;
    margin: 0px auto;
    /* ezzel sleekebb lesz a táblázat vagy mi próbáld ki xd */
}

table, th, td, tr{
    border: 1px solid black;
    background: #f3e2df;
}

th, td{
    padding: 5px;
    min-width: 50px;
    text-align: center;
}

.name, .comment{
    font-size: 20px;
    margin: 20px 0;
}

#date{
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #EBAB9D;
}

#date:hover{
    background-color: #ffffff;
    transform: scale(1.05);
}

button{
    transform: scale(1.2);
    background: #ffffff;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

input{
    margin: 20px 20px;
    transform: scale(1.2);
}
